# Relatório de Analise 4

## Selecoes e frequencias

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

Para comentar um bloco de linhas no Jupyter, utilize CTRL + / no trecho selecionado

In [3]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [4]:
n1 = dados[selecao].shape[0]
print('A frequencia de apartamentos eh ' + str(n1))

A frequencia de apartamentos eh 19532

In [5]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [6]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') |  (dados['Tipo'] == 'Casa de Vila')
selecao

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [7]:
n2 = dados[selecao].shape[0]
print('A frequencia desta selecao eh ' + str(n2))

A frequencia desta selecao eh 2212

In [8]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [9]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
selecao

0        False
1         True
2        False
3        False
4         True
         ...
22575     True
22576    False
22577     True
22578    False
22579     True
Name: Area, Length: 22580, dtype: bool

In [10]:
n3 = dados[selecao].shape[0]
print('A frequencia de imóveis com área entre 60 e 100 metros quadrados eh ' + str(n3))

A frequencia de imóveis com área entre 60 e 100 metros quadrados eh 8719

In [11]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [12]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
selecao

0        False
1        False
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Length: 22580, dtype: bool

In [14]:
n4 = dados[selecao].shape[0]
print('A frequencia de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 sao ' + str(n4))

A frequencia de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 sao 41